.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.heading{
    display: flex;
}

.headRed{
    color: rgb(193, 32, 32);
}

.navLinks{
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}

.navLinks a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.navLinks a:hover{
    cursor: pointer;
    color: rgb(193, 32, 32);
    font-weight: 700;
}

.cartBtn{
    padding: 0 10px;
    height: 35px;
    color: white;
    background-color: rgb(193, 32, 32);
    display: flex;
    align-items: center;
    border-radius: 13px;
}

.cartBtn:hover{
    cursor: pointer;
    background-color: rgb(125, 10, 10);
}

.cartImage{
    height: 30px;
}

.cartSpan{
    font-weight: 700;
    margin: 0 5px 0 3px;
}